---
name: Functional Tests

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  run-script:
    name: Run script
    timeout-minutes: 5
    strategy:
      matrix:
        os: ['ubuntu', 'windows', 'macos']
        version: ['0.3.0', '0.3.1']
      fail-fast: false
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - uses: ./
        with:
          version: ${{ matrix.version }}
      - name: Validate command (Linux, macOS)
        if: ${{ runner.os != 'Windows' }}
        run: |
          [[ $(shakespeare run hello-world.spl) == "Hello World!" ]] || exit 1;
        shell: bash
      - name: Validate command (Windows)
        if: ${{ runner.os == 'Windows' }}
        run: |
          $Output = (shakespeare run hello-world.spl) | Out-String
          &{If($Output.Substring(0,12) -ne 'Hello World!') {exit 1}}
        shell: pwsh
